# Python
*.pyc
__pycache__/

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup

# Test results
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# IDE Configurations
.idea/
.vscode/

# Environment files
.env
