# Python
*.pyc
__pycache__/

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl

# Test results
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# IDE Configurations
.idea/
.vscode/

# Environment files
.env

.venv/